extend componentes/plantilla.pug 
block contenidos
        section.intro
            .intro__imagen
                img(src="images/imagen.png", alt="")
            .intro__contenido
                h2 #{titulos[0]}
                p 
                    |Lorem ipsum dolor, sit amet consectetur
                    |adipisicing elit. Dolore officia sapiente asperiores
                    |et hic! Quod voluptas doloribus provident? Ea commodi
                    |rem vel distinctio quam libero eaque, veniam suscipit 
                    |qui iste.
                    span proin Quod voluptas doloribus provident? Ea commodi
                a.boton leer mas
        main.contenido
           +caja('imagen.png',titulos[1],'Lorem ipsum dolor, sit amet consectetur')
           +caja('imagen.png',titulos[2],'Lorem ipsum dolor, sit amet consectetur')
           +caja('imagen.png',titulos[3],'Lorem ipsum dolor, sit amet consectetur')
           
            